
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    width: 130px;
    position: absolute;
    z-index: 1;
    top: 180px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .main {font-size: 24px;}
  }

  @media screen and (max-width: 450px) { 
    .sidenav {top: 250px;}
    .main {font-size: 20px;}
  }

  @media screen and (max-width: 350px) { 
    .sidenav {top: 300px;}
    .main {font-size: 18px;}
  }