/*#nv {
    margin-top: 50px;
    height:5px;
}*/

.nav a  {
    color: white;
}

.navbar-brand {
    color: white;
}

.wh {
    color: white;
}

.login-span:hover{
    background-color:#4d77ca ;
    color: black;
}
.heading:hover{
    color: rgb(218, 216, 216)
}