/*#nv {
    margin-top: 50px;
    height:5px;
}*/

.nav a  {
    color: white;
}

.navbar-brand {
    color: white;
}

.wh {
    color: white;
}

.login-span:hover{
    color: white;
}
.heading:hover{
    color: rgb(218, 216, 216)
}

.navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-nav>li>a:hover{
    background-color: #445e91;
}