{% extends 'main.html' %}

{% block content %}
<div class="container">
    
    <h1>{{ details.FIRST_NAME }} {{ details.MIDDLE_NAME }} {{ details.LAST_NAME }}</h1>
    <p>SAP ID:   {{ details.SAP_ID }}</p>
    <p>Department:   {{ details.DEPARTMENT }}</p>
    <p>Role:   {{ details.ROLE }}</p>
    <p>Phone no:   {{ details.PHONE_NUMBER }}</p>
    <p>Email:   {{ details.EMAIL }}</p>
    <p>Experience:   {{ details.DATE_OF_JOINING }} years</p>
    <p>Scopus ID:   {{ details.SCOPUS_ID }}</p>
    <p>Publon ID:   {{ details.PUBLON_ID }}</p>
    <p>H-Index:   {{ details.H_INDEX }}</p>
    <p>i10-Index:   {{ details.I_INDEX }}</p>
    <p>Orchid ID:   {{ details.ORCHID }}</p>
    <br>
    <button class="btn btn-primary"><a style="color: white;" href="{% url 'edit_profile' %}">Edit Profile</a> </button>
<br><br>
    
{% endblock %}