{% extends 'main.html' %}

{% block content %}
<div class="container">
    
    <h1>{{ details.SAP_ID }}{{details.middle_name}}{{details.last_name}}</h1>
    <p>SAP ID: {{ details.FIRST_NAME }}</p>
    <p>Department: {{details.first_name}}</p>
    <p>Role: {{details.first_name}}</p>
    <p>Phone no: {{details.first_name}}</p>
    <p>Email: {{details.first_name}}</p>
    <p>Experience: {{details.first_name}}</p>
    <p>Scopus ID: {{details.first_name}}</p>
    <p>Publon ID: {{details.first_name}}</p>
    <p>H-Index: {{details.first_name}}</p>
    <p>i10-Index: {{details.first_name}}</p>
    <p>Orchid ID: {{details.first_name}}</p>
<br><br>
    
{% endblock %}