{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form method="post" action="/register/">
            {% csrf_token %}
            <h3>Create Account</h3>
            <input minlength="10" maxlength="10" type="number" name="username" placeholder="SAP ID"/>
            <input type="password" name="password" placeholder="Password" />
            <input type="email" name="email" placeholder="Email" />
            <input required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="first_name" placeholder="First Name">
            <input required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="last_name" placeholder="Last Name">
            <button class="login-button" type="Submit" value="Signup">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post" action="/login/">
            {% csrf_token %}
            <h1>Sign in</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <a href="{% url 'reset_password' %}">Forgot your password?</a><br>
            <button class="login-button" type="Submit" value="Login">Sign In</button>
            <br>
            
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To upload your own publications. Sign In</p>
                <button class="login-button ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Sir</h1>
                <p>Enter your personal details and start publishing your papers here.</p>
                <button class="login-button ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% if page == 'register' %}

<div class="container right-panel-active" id="container">
    <div class="form-container sign-up-container">
        <form method="post" action="/register/">
            {% csrf_token %}
            <h3>Create Account</h3> 
            <input pattern="[0-9]{10}" type="text" name="username" placeholder="SAP ID" />
            <input type="password" name="password" placeholder="Password" />
            <input type="email" name="email" placeholder="Email" />
            <input required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="first_name" placeholder="First Name">
            <input required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="last_name" placeholder="Last Name">
            <button class="login-button" type="Submit" value="Signup">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post" action="/login/">
            {% csrf_token %}
            <h1>Sign in</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <a href="{% url 'reset_password' %}">Forgot your password?</a><br>
            <button class="login-button" type="Submit" value="Login">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To upload your own publications. Sign In</p>
                <button class="login-button ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Sir</h1>
                <p>Enter your personal details and start publishing your papers here.</p>
                <button class="login-button ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
{% endif %}



<!-- {% if page == 'login' %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">

        <input type="Submit" value="Login" />
    </form>
    <p>Havent Signed Up Yet ??</p>
    <a href="{% url 'register' %}">Sign UP</a>
</div>
{% endif %}


{%if page == 'register' %}
<div>
    <form method="post" action="">
        {% csrf_token %}


        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="email">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">

        <input type="Submit" value="Signup" />
    </form>
</div> -->



<!-- {% endif %} -->

{% endblock content %}