{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h2>Publisher Details</h2>
<form action="/publisher_details/" method="post">
    {% csrf_token %}
    <span>SAP ID <span style="color: red;">*</span></span> <input readonly type="text" name="sap_id" value="{{ cred.username }}"><br>
    <span>PASSWORD <span style="color: red;">*</span></span> <input readonly type="password" name="password" value="{{ cred.password }}"><br>
    <span>EMAIL <span style="color: red;">*</span></span> <input readonly type="email" name="email" value="{{ cred.email }}"><br>
    <span>DEPARTMENT <span style="color: red;">*</span></span> <input required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" required type="text" name="department" ><br>
    <label for=""><span>TITLE <span style="color: red;">*</span></span></label>
    <select required name="title">
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Dr">Dr</option>
        <option value="Prof">Prof</option>
        <option value="As. Prof">Assistant Prof</option>
    </select><br>
    <span>FIRST NAME <span style="color: red;">*</span></span> <input readonly required type="text" name="first_name" value="{{ cred.first_name }}"><br>
    MIDDLE NAME: <input pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="middle_name" ><br>
    <span>LAST NAME <span style="color: red;">*</span></span> <input readonly required type="text" name="last_name" value="{{ cred.last_name }}" ><br>
    <span>PHONE NUMBER <span style="color: red;">*</span></span> <input pattern="[6789][0-9]{9}" required type="text" name="phone_number" ><br>
    <label for=""><span>ROLE <span style="color: red;">*</span></span></label>
    <select required name="role">
        <option value="Teacher">Teacher</option>
        <option value="Student">Student</option>
    </select><br>
    <span>DATE OF JOINING <span style="color: red;">*</span></span> <input required type="date" name="date_of_joining" ><br>

    <label for="">AREA OF INTEREST:</label><BR></BR>
    <div class="aoi">
        <div>Click plus to add more</div>
        <button class="btn btn-dark" type="button" name="button" onclick="newinput()">+</button>
        <input type="text" name="aoi0" id="">
    </div>
<br>
    SCOPUS_ID: <input type="text" name="scopus_id" ><br>
    PUBLON_ID: <input type="text" name="publon_id" ><br>
    H-INDEX: <input type="number" name="h_index" value="{{ cred.h_index }}" ><br>
    I-INDEX: <input type="number" name="i_index" value="{{ cred.i_index }}"><br>
    ORCHID-ID: <input type="text" name="orchid_id" ><br>
    <button class="btn btn-success" type="submit">Complete Registration</button>
</form>
</div>
<script>
    var id = 1;
        var newinput = function () {
            var parent = document.body.getElementsByClassName("aoi")[0];
            var field = document.createElement("input")
            field.style = "display:block;"
            field.id = "aoi" + id;
            field.type = "text";
            field.name = "aoi" + id;
            parent.appendChild(field);
            id += 1;
        }
</script>

{% endblock content %}