{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h2>Paper References</h2>
    <form action="/paper_references/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span>Fields marked as <span style="color: red;">*</span> are mandatory</span><br>
        <span>PAPER TITLE <span style="color: red;">*</span></span> <input readonly type="text" name="title" value="{{ paper.title }}"><br>
        DOI: <input readonly type="text" name="doi" value="{{ paper.doi }}"><br>
        <span>ISSN <span style="color: red;">*</span></span><input required type="text" name="ISSN" ><br>
        ISSUE: <input type="text" name="ISSUE"><br>
        <label for=""><span>MONTH <span style="color: red;">*</span></span></label>
        <select required name="MONTH" style="cursor:pointer;">
            <option value="January">Jan</option>
            <option value="February">Feb</option>
            <option value="March">Mar</option>
            <option value="April">Apr</option>
            <option value="May">May</option>
            <option value="June">Jun</option>
            <option value="July">Jul</option>
            <option value="August">Aug</option>
            <option value="September">Sep</option>
            <option value="October">Oct</option>
            <option value="November">Nov</option>
            <option value="December">Dec</option>
        </select><br><br>
        <span>PUBLICATION YEAR <span style="color: red;">*</span></span> <select required name="PUB_YEAR" id="yearpicker"></select><br>
        PAGE NO.: <input type="number" name="PGNO"><br>
        VOLUME: <input type="number" name="VOL"><br>
        <label for=""><span>LEVEL <span style="color: red;">*</span></span></label>
        <select required name="LVL" style="cursor:pointer;">
            <option value="international">International</option>
            <option value="national">National</option>
        </select><br><br>
        <span>ISSN TYPE <span style="color: red;">*</span></span> <input required type="text" name="ISSN_TYPE"><br><br>
        <label for=""><span>PUBLICATION TYPE <span style="color: red;">*</span></span></label>
        <select required name="PUB_TYPE" style="cursor:pointer;">
            <option value="Journal">Journal</option>
            <option value="Conference">Conference</option>
            <option value="Book">Book</option>
        </select><br><br>
        <span>PUBLICATION TYPE NAME <span style="color: red;">*</span></span> <input required type="text" name="NAME" placeholder="Journal/conference/book Name"><br>
        SCOPUS INDEX: <input type="text" name="SCOPUS_INDEX"><br>
        WEB_OF_SCIENCE: <input type="text" name="WEB_OF_SCIENCE"><br>
        <label for=""><span>RANKING<span style="color: red;">*</span></span></label>
        <select required name="RANKING" style="cursor:pointer;">
            <option value="Q1">Q1</option>
            <option value="Q2">Q2</option>
            <option value="Q3">Q3</option>
            <option value="Q4">Q4</option>
            <option value="None">None</option>
        </select><br><br>
        <label for="">AUTHOR(s):</label><br>
        <div class="author">
            <div>Click plus to add more</div>
            <button type="button" name="button" onclick="newinput()"style="cursor:pointer;" >+</button>
            <label for="">Author Name</label><br>
            <input readonly required pattern="^[A-Za-zÀ-ÿ ,.'-]+$" type="text" name="author0" value="{{request.user.first_name}} {{ request.user.last_name }}">
        </div>
        <br>
        PDF: <input type="file" name="pdf" id="" accept="application/pdf" style="cursor:pointer;"><br>
        <button class="btn btn-success" type="submit">Save Paper</button>
    </form>
</div>
<script>
    var id = 1;
    var newinput = function () {
        var parent = document.body.getElementsByClassName("author")[0];
        var field = document.createElement("input")
        field.style = "display:block;"
        field.type = "text";
        field.name = "author" + id;
        parent.appendChild(field);
        id += 1;
    }
</script>

<script type="text/javascript">
    let startYear = 2000;
    let endYear = new Date().getFullYear();
    for (i = startYear; i <= endYear; i++) {
        $('#yearpicker').append($('<option />').val(i).html(i));
    }
</script>

{% endblock content %}