{% extends 'main.html' %}

{% block content %}

<div class="container">
    <h2>Enter your publication details:</h2><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <span>Paper Title <span style="color: red;">*</span></span>: <input style="width: 100%;" required type="text" name="title" id=""><br>
    DOI: <input style="width: 100%;" type="text" name="doi" id="" value="" ><br>
    <button class="btn btn-primary btn-lg active btn-block" type="submit">Next</button>
</form>
</div>
    
{% endblock %}