
        <header class="headerWarp" role="banner" style="width: 100%;">
            <div class="brandInner" style="width: 100%;">
                <div class="logo">
                    <a href="/" title="Home" rel="home" class="site-logo"><img style="height: 7rem;width: 7rem;"
                            src="https://scontent.fblr4-3.fna.fbcdn.net/v/t1.6435-9/87503689_111002383835295_3256861726187978752_n.png?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=joJoEuK2r7UAX-K5KK3&_nc_ht=scontent.fblr4-3.fna&oh=acac6bab4aed6333fb3268f1823145e0&oe=61D6BA2C" alt="Home" /></a>
                </div>
                <div class="brandName">
                    <div class="l-region l-region--branding">
                        <div id="block-block-28" class="block block--block block--block-28">
                            <div class="block__content" style="margin-left:80px;">
                                <h3 class="rtecenter"><span style="font-size:16px">Rashtreeya Sikshana Samithi
                                        Trust</span></h3>
                                <h1 class="rtecenter"><span style="font-size:26px"><a href="/" title="Home">R V College
                                            of Engineering </a></span></h1>
                                <h6 class="rtecenter"><span style="font-size:12px">Autonomous Institution affiliated to
                                        Visvesvaraya Technological University, Belagavi</span></h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                
                    <div
                        style="display:inline-flex; float: right; padding: 15px; background-color:#27447E;width: 100%; margin-bottom: 20px;">
                        <div style="padding-left:5px; padding-right: 10px;">
                            {% if request.user.is_superuser %}
                            <h3 style="color: white; font-size: 1.5rem; margin: 0;">Welcome Admin</h3>
                        </div>
                        <div style=" padding-left:5px; padding-right: 10px;position: absolute; right: 2%;"><a href="{% url 'logout' %}"
                                style="color: white; font-size: 1.5rem;">Logout</a></div>
                
                        {% elif request.user.is_authenticated %}
                        <h3 style="color: white; font-size: 1.5rem; margin: 0;">Welcome {{request.user.first_name}} {{request.user.last_name}}</h3>
                    </div>
                    <div style=" padding-left:5px; padding-right: 10px;position: absolute; right: 2%;"><a href="{% url 'logout' %}"
                            style="color: white; font-size: 1.5rem;">Logout</a></div>
                
                
                
                    {% else %}
                    <div style="height: 1.7rem;">
                        <div
                            style="display:inline-flex; float: right; background-color:#27447E;width: 100%;position: absolute; left: 85%;">
                            <div style="padding-left:5px; padding-right: 10px;"><a href="{% url 'login' %}"
                                    style="color: white; font-size: 1.5rem;">Login</a></div>
                            <div style="padding-left:5px; padding-right: 10px;"><a href="{% url 'register' %}"
                                    style="color: white;font-size: 1.5rem;">Register</a></div>
                        </div>
                    </div>
                    {% endif %}
                </div>

        </header>


