{% extends 'main.html' %}

{% block content %}
<!--<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div class="main">
<ul>
    <li>
        <a href="">Generate reports</a>
    </li>
    <li>
        <a href="">Address issues</a>
    </li>
    <li>
        <a href="">Manage all publications</a>
    </li>
    <li>
        <a href="">Edit Profile</a>
    </li>
    <li>
        <a href="">Manage user profiles</a>
    </li>
    <li>
        <a href="">Check ticket status</a>
    </li>
    <li>
        <a href="">Database controls</a>
    </li>
</ul>
</div>-->
{% endblock %}