{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1>Title of the paper: {{paper.title}}</h1>
    <h2>Authors: {{paper.title}}</h3>
    <p>Publication type: {{paper.title}}</p>
    <p>Level: {{paper.title}}</p>
    <p>Name: {{paper.title}}</p>
    <p>ISSN type: {{paper.title}}</p>
    <p>ISSN: {{paper.title}}</p>
    <p>Month: {{paper.title}}</p>
    <p>Year: {{paper.title}}</p>
    <p>Scopus Index: {{paper.title}}</p>
    <p>Web of science: {{paper.title}}</p>
    <p>Page no: {{paper.title}}</p>
    <p>Volume: {{paper.title}}</p>
    <p>Issue: {{paper.title}}</p>
    <p>DOI: {{paper.title}}</p>
    <a href="#" target="_blank">Download PDF</a>

<br><br>
    
{% endblock %}