{% extends 'main.html' %}

{% block content %}
<div class="container pdfcontainer">
    {% if type == 'yourPub' %}
    <h1>Your Publications</h1>
    {% else %}
    <h1>All Publications</h1>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published in</th>
                <th>Year</th>
                <th>Details</th>
                <th>Save</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pdfs %}
            <tr>
                <td>{{ p.title }}</td>
                <td>{{ p.PUB_TYPE }} - {{p.NAME}}</td>
                <td>{{ p.PUB_YEAR }}</td>
                <td><a title="See more details" href="{% url 'paperdetails' p.paper_id %}" name="paperdetails">Paper details</a>
                </td>
                <td><button title="Download paper" class="btn"><a href="{% url 'download_pdf' p.paper_id %}"><i class="fa fa-download"></i></a></button></td>
            </tr>
            {% endfor %}
            
            {% if pdfs|length == 0 %}
            <td>
                <h1 style="margin-left: 40%; margin-top: 30%;">No papers to display</h1>
            </td>
            {% endif %}

        </tbody>

    </table>
</div>
{% endblock %}