{% extends 'main.html' %}

{% block content %}
<div class="container pdfcontainer">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Doi</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pdfs %}
            <tr>
                <td>{{ p.title }}</td>
                <td>{{ p.doi }}</td>
                <td><a href="{% url 'paperdetails' p.title %}" name="paperdetails">Paper details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <!--{% if request.user.is_superuser %}
    <button><a href="{% url 'adminfeatures' %}">Admin Features</a></button>
    {% elif request.user.is_authenticated %}
    <button style="background-color: #27447E"><a class = "wh" href="{% url 'userfeatures' %}" >User features</a></button>
    {% endif %}-->
</div>
{% endblock %}