{% extends 'main.html' %}

{% block content %}

<!--br><br>
<ul>
    <li>
        <a href="{% url 'upload_publication' %}">Upload Publication</a>
    </li>
    <li>
        <a href="">Manage publications</a>
    </li>
    <li>
        <a href="">Edit Profile</a>
    </li>
    <li>
        <a href="">Raise an issue</a>
    </li>
    <li>
        <a href="">Check publication statistics</a>
    </li>
    <li>
        <a href="">Check ticket status</a>
    </li>
    <li>
        <a href="">View all publications</a>
    </li>
</ul>-->

{% endblock %}